.header {
    display: block;
    background-image: url('https://images.pexels.com/photos/10329511/pexels-photo-10329511.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}


.navbar {
    height: 50px;
    border: 2px solid black;


}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: px;
    /* border: 10px solid black; */
}

.nav li {
    border: 2px solid black;
    margin: 0px 30px 0px 0px;
    list-style: none;
    /* opacity: 0.2;    */
}

.nav li a {
    text-decoration: none;
    color: black;
}

/* li {
    background-color: aqua;
    opacity: 0.2;
} */
.b2{ background-color: #daf2ed;
}

.b2 p { font-size: 50px;
    color: #000;
}

#b2 {
    height: 500px;
    width: auto;
    opacity: 0.5;
    border: 5px solid black;
    display: flex;
    font: 1em sans-serif;
    flex-flow: row;
}
